/** Menu Styles: for the Off-Canvas and Top Bar */
.off-canvas-wrap, .inner-wrap {
  min-height: 100%;
}

.off-canvas-wrap {
  height: 100%;
  overflow-y: auto;
}

/** Primary Top Bar */
.main.top-bar {
  a {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans';
  }
}

.breadcrumbs {
  background-color: #111;
  border: 1px solid #222;
  margin-bottom: 5px;
  border-radius: 0px;

  .current {
    color: #FFF;
  }

  a {
    color: #AAA;
  }
}

/** Secondary Top Bar */
.sub.top-bar {
  background-color: #444;
  height: 35px;

  a {
    font-family: 'Open Sans';
    height: 35px;
    line-height: 35px;
  }

  .left {
    li {
      line-height: 35px;

      a {
        background-color: #444;
        line-height: 35px;
      }

      a:hover {
        background-color: #555;
      }

      li.active {
        a {
          line-height: 35px;
        }
      }
    }
  }
}