<div ui-view>
    <list-navbar>
        <list-navbar-section side="'left'">
            <list-navbar-filters active-filters="activeFilters" metadata="metadata"
                                 custom-filters-visible="true" filters-updated="filtersUpdated(filters)">
                <label>Name Contains
                    <input type="text" ng-model="simpleFilters.nameContains" ng-change="recompileSimpleFilters()" />
                </label>

                <label>Costume Type is
                    <select ng-model="simpleFilters.costumeType" ng-change="recompileSimpleFilters()">
                        <option value="">(Any)</option>
                        <option value="{{ costumeType }}" ng-repeat="costumeType in metadata.availableFilters.ClassTypeQualifier.values | orderBy:costumeType">{{ costumeType }}</option>
                    </select>
                </label>
            </list-navbar-filters>

            <list-navbar-grouping metadata="metadata" current-grouping-name="searchSettings.groupBy"
                                  current-grouping-direction="searchSettings.groupOrderDirection"
                                  grouping-updated="groupingUpdated(groupingName, groupingDirection)"
                                  none-filter-enabled="true"></list-navbar-grouping>
        </list-navbar-section>

        <list-navbar-section side="'right'">
            <list-navbar-sorting metadata="metadata" current-sort-name="searchSettings.orderBy"
                                 current-sort-direction="searchSettings.orderDirection"
                                 sort-updated="sortUpdated(sortName, sortDirection)"></list-navbar-sorting>

            <list-navbar-paging current-paging="searchSettings.elementsPerPage" available-paging="metadata.availablePaging"
                                paging-updated="pagingUpdated(paging)"></list-navbar-paging>
        </list-navbar-section>
    </list-navbar>

    <div class="pager panel">
        <pagination page="searchSettings.page" items-per-page="searchSettings.elementsPerPage"
                    total-items="metadata.total" boundary-links="true" max-size="10"></pagination>
    </div>

    <div class="items database costumes list" ng-class="listLoading ? 'loading' : ''">
        <div class="database costume group" ng-class="searchSettings.groupBy != '' ? 'active' : ''"
             ng-repeat="costumeGroup in data">
            <span class="group-title">{{ costumeGroup.groupName }}</span>

            <div class="database costume panel" ng-repeat="costume in costumeGroup.data"
                 ng-class="costume.deleted_at ? 'deleted' : ''">
                <div class="row">
                    <div class="columns large-12">
                        <item-admin-bar item="costume" permission-namespace="'costumes'"
                                        delete-method="deleteItem(item)" restore-method="restoreItem(item)">

                        </item-admin-bar>
                    </div>
                </div>

                <div class="item-description">
                    <img ng-src="/images/illust/{{ costume.ImgFileName }}.png" class="item-image"/>

                    <a class="title" ui-sref="app.database.items.costumes.view({id: costume.ID})">{{ costume.ItemName }}</a>
                    <small class="subtitle">{{ costume.ReqToolTip }}</small>

                    <div class="description" ng-bind-html="costume.ParsedDesc"></div>
                </div>

                <div class="row" vertilize-container>
                    <div class="columns medium-6">
                        <div class="green highlight-panel database-options" vertilize>
                            <span class="green highlight-panel-title database-options-title">Stats</span>

                            <ul ng-bind-html="costume.StatsHTML"></ul>
                        </div>
                    </div>

                    <div class="columns medium-6">
                        <div class="red highlight-panel database-options" vertilize>
                            <span class="red highlight-panel-title database-options-title">Recipe</span>

                            <ul ng-bind-html="costume.RecipeHTML"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pager panel">
        <pagination page="searchSettings.page" items-per-page="searchSettings.elementsPerPage"
                    total-items="metadata.total" boundary-links="true" max-size="10"></pagination>
    </div>
</div>