<div ui-view>
    <div class="database loading panel" ng-show="itemLoading"></div>
    <div ng-hide="itemLoading">
        <div class="database consumable panel">
            <div class="item-description">
                <img ng-src="/images/illust/{{ data.ImgFileName }}.png" class="item-image"/>

                <a class="title">{{ data.ItemName }}</a>

                <div class="description" ng-bind-html="data.ParsedDesc"></div>
            </div>

            <div class="row">
                <div class="columns medium-12" ng-show="data.recipe != null">
                    <div class="red highlight-panel database-options">
                        <span class="red highlight-panel-title">Recipe</span>

                        <ul ng-bind-html="data.RecipeHTML"></ul>
                    </div>
                </div>
            </div>
        </div>

        <span ng-show="permissions.database.items.consumables.extendedView">
            <h3>Column Details</h3>

            <div class="database panel">
                <table class="default-table" role="grid">
                    <tr>
                        <th width="200">Base Name</th>
                        <th>Data</th>
                    </tr>

                    <tr ng-repeat="(itemColumnKey, itemColumnValue) in data">
                        <td>{{ itemColumnKey }}</td>
                        <td><input type="text" ng-model="data[itemColumnKey]"/></td>
                    </tr>
                </table>
            </div>
        </span>
    </div>
</div>
